name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: List files after checkout
        run: ls -lart

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test with Maven
        run: mvn -B clean test

      - name: Build Docker Image
        run: docker build -t fj-hello-api:1.0.0 .

      - name: List Docker Images
        run: docker images